.DS_Store
.idea/
*.iml
.aws-sam
build/
.gradle
raw-messages.json
message-filter.json
responses.json
user-specific-responses.json
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# CDK stacks
stack-creation.ts
